/* VARIABLES */

:root {
  --first-color: #000;
  --second-color: #fff;
  --gray-color: #999;
  --item-color: #fff;
  --bg-color: rgb(250, 250, 250);
  --shadow-color: rgba(44, 62, 80, 0.10);
}

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  display: block;
}

/* MAIN STYLES */

body {
  background: #777;
  font-family: Lato;
  width: 100%;
  height: 100%;
  /* overflow-x: hidden; */
}

.container {
  position: relative;
  background: var(--bg-color);
  width: 100%;
  max-width: 500px;
  height: 100%;
  margin: 0 auto;
  padding: 30px 10px;
  font-weight: lighter;
  color: var(--first-color);
  overflow: hidden;
}

button {
  cursor: pointer;
}

h2 {
  font-size: calc(0.3rem + 8vw);
  font-weight: lighter;
}

h3 {
  font-size: calc(0.1rem + 3vw);
  font-weight: lighter;
}

h4 {
  font-size: calc(0.05rem + 3vw);
}

h5 {
  font-size: calc(0.1rem + 2.8vw);
}

p {
  font-size: calc(0.5rem + 2.1vw);
}

label {
  font-size: calc(0.2rem + 2.1vw);
}

.fas {
  font-size: calc(0.5rem + 2.1vw);
}

/* HEADER */

.header {
  position: relative;
  display: flex;
}

.showcase {
  flex: 1 1 70%;
}

.showcase .hello {
  font-weight: lighter;
}

.showcase .hello span {
  font-weight: normal;
}

.showcase h5 {
  font-weight: lighter;
}

.showcase .tasks-number {
  margin-top: 14px;
  color: var(--gray-color);
  position: relative;
}

.showcase .tasks-number:after {
  content: '';
  display: block;
  width: calc(160px + 5vw);
  height: 1px;
  background: var(--gray-color);
  position: absolute;
  top: 1.3em;
}

.info {
  flex: 1 1 30%;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
}

.info div {
  display: flex;
  justify-content: flex-end;
}

.info div .day {
  margin-right: 6px;
}

.info .date {
  align-self: flex-end;
  margin-top: 5px;
}

.open-btn {
  color: var(--first-color);
  box-sizing: border-box;
  align-self: flex-end;
  margin-top: 0.5em;
  height: 36px;
  width: 36px;
  font-size: 1.8rem;
  background: transparent;
  border: 2px solid var(--first-color);
  border-radius: 0.35rem;
}

/* ADD PANEL */

.add-panel {
  position: absolute;
  background: var(--bg-color);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.add-panel.opened {
  transform: translateX(0);
}

.panel-container {
  margin: 0 auto;
  margin-top: 3em;
}

.close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 3.5em;
  right: 1.5em;
  background: transparent;
  border: none;
}

.close-btn .fas {
  font-size: 1.1rem;
  color: var(--first-color);
}

.add-panel h2 {
  font-size: calc(0.3rem + 5vw);
}

.add-panel input[type="text"] {
  width: 100%;
  margin: 20px 0;
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid #000;
  color: var(--first-color);
  z-index: 10;
}

input::placeholder {
  font-size: 0.6rem;
  color: var(--gray-color);
}

.categories {
  display: flex;
  padding-top: 0.3em;
}

.input-container {
  position: relative;
  width: calc(1em + 6vw);
  height: calc(1em + 6vw);
  margin: 0.2em;
}

.radio-button {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.radio-tile {
  background: var(--item-color);
  box-shadow: 3px 3px 3px var(--shadow-color);
  color: var(--gray-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0.1em;
  box-shadow: 3px 3px 3px var(--shadow-color);
  border-radius: 5px;
  padding: 1rem;
  transition: all 0.3s ease;
}

.radio-tile .fas {
  font-size: 0.8rem;
}

.radio-button:checked+.radio-tile {
  color: var(--first-color);
}

.add-btn {
  color: var(--first-color);
  width: 80px;
  height: 22px;
  background: transparent;
  border: 2px solid var(--first-color);
  border-radius: 10px;
  margin-top: 2em;
  text-transform: uppercase;
  font-size: 0.65rem;
}

/* LISTS */

#completed {
  margin-top: 1em;
  margin-bottom: 1.5em;
}

ul.todo#completed {
  position: relative;
}

ul.todo#completed:before {
  content: '';
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
  width: 150px;
  height: 1px;
  background: var(--gray-color);
}

ul.todo#todo:empty:after {
  content: 'You have nothing to-do!';
  margin: 15px 0 0 0;
}

ul.todo#completed:empty:after {
  content: 'You have yet to complete any tasks.';
}

ul.todo#todo:after,
ul.todo#completed:after {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 12px;
  color: var(--first-color);
}

ul.todo#completed .item {
  opacity: 0.6;
}

ul.todo#completed .item .task-value {
  text-decoration: line-through;
}

/* ITEM */

.main-content {
  width: 100%;
  min-height: 300px;
  padding-top: 1em;
}

.item {
  background: var(--item-color);
  box-shadow: 3px 3px 3px var(--shadow-color);
  border-radius: 0.8em;
  width: 100%;
  min-height: 60px;
  padding: 0.5em;
  padding-bottom: 0.2em;
  display: flex;
  margin-bottom: 1em;
}

.item:last-of-type {
  margin-bottom: 0;
  position: relative;
}

.left {
  flex: 1 1 90%;
  overflow: hidden;
}

.left .left-top {
  display: flex;
}

.left .left-top .done {
  background: transparent;
  width: 24px;
  height: 24px;
  border: 2px solid var(--first-color);
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-right: 0.9em;
  transition: 0.2s;
}

.left .left-top .done:hover {
  color: var(--second-color);
  background: var(--first-color);
}

.done .fas {
  color: var(--first-color);
}

.done .fas:hover {
  color: var(--second-color);
}

.left .task {
  margin-top: 0.3em;
}

.left .description-text {
  margin: 0.5em;
  border-top: 1px solid var(--gray-color);
  display: none;
  max-height: 30px;
  transition: all 0.3s ease-in-out;
}

.description-text.opened-desc {
  display: block;
}

.left .description-text p {
  margin-top: 0.2em;
  font-size: 0.7rem;
}

.right {
  flex: 1 1 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.right button {
  border: none;
  background: transparent;
  margin-bottom: 1em;
}

.right button:last-of-type {
  margin-bottom: 0;
}

.right button .fas {
  color: var(--gray-color);
}

.description,
.delete {
  width: 20px;
  height: 20px;
}

/* FOOTER */

.footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.switch {
  position: relative;
  width: 60px;
  height: 30px;
}

.switch input {
  opacity: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid var(--first-color);
  border-radius: 1.4em;
  background-color: transparent;
  transition: .14s;
}

.slider:after {
  content: 'light';
  font-size: 0.55rem;
  text-transform: uppercase;
  position: absolute;
  left: 28px;
  top: 7.5px;
  transition: 0.28s;
}

input:checked+.slider:after {
  content: 'dark';
  transform: translateX(-24px);
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 2px;
  border-radius: 50%;
  background-color: var(--first-color);
  transition: .4s;
  z-index: 1;
}

input:checked+.slider:before {
  transform: translateX(28px);
}

.settings {
  height: 30px;
  width: 30px;
  background: transparent;
  border: none;
  display: none;
}

.settings .fas {
  font-size: 1.1rem;
  color: var(--first-color);
}

/* MEDIA QUERIES */

@media (max-width: 500px) {
  body {
    background: var(--bg-color);
  }
}

@media (min-width: 321px) {

  /* MAIN */
  .container {
    padding: 50px 30px;
  }

  /* HEADER */
  .open-btn {
    height: calc(30px + 3.9vw);
    width: calc(30px + 3.9vw);
    margin-top: 0.45em;
  }

  .fas {
    font-size: 0.9rem;
  }

  /* ADD PANEL */
  .close-btn {
    right: 3em;
  }
}

@media (min-width: 601px) {

  /* MAIN */
  h2 {
    font-size: 3.3rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1.1rem;
  }

  p {
    font-size: 1.3rem;
  }

  label {
    font-size: 1rem;
  }

  /* HEADER */
  .open-btn {
    height: 55px;
    width: 55px;
    margin-top: 0.7em;
  }

  /* ITEM */
  .item {
    min-height: 90px;
    padding: 1em;
    padding-bottom: 0.5em;
  }

  /* .todo#todo .item:last-of-type:after {
    width: 350px;
    top: 6.6em;
  } */
  .left .description-text p {
    font-size: 0.85rem;
  }

  /* ADD PANEL */
  .add-panel h2 {
    font-size: 2.3rem;
  }

  .input-container {
    width: 3.3em;
    height: 3.5em;
    margin: 0.6em;
  }

  .radio-tile .fas {
    font-size: 1.2rem;
  }

  .add-btn {
    font-size: 0.9rem;
  }
}